@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
    font-size: 62.5%;
}


body {
    font-family: helvetica, sans-serif;
    background-color: #eee;
    position: relative
}

main {
    padding-top: 60px;
    position: relative;

}

section {
    position: relative;
    padding: 30px 0;
}


/** clear fix **/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/** =General **/

.container {
    width: 960px;
    margin: 0 auto;
    position: relative;
    padding: 0 15px 0 15px;
}
a {
    text-decoration: none;
}
.simpleBtn{
    text-transform: uppercase;
    color: #585951;
}

.dark_text {
    color: #333;
}
.light_text{
    color: #fff;
}

.center{
  text-align: center;
}

h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 30px;
}

h3{
  font-size: 16px;
}


/** =Top Bar **/

.topBar_bg{
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 3;
    height: 90px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.topBar_elements {
    margin-top: 10px;
}

a.logo {
    padding-top: 2px;
}

.userTools,.search {
    float: right;
}

.logo,.langSelector {
    float: left;
}

.mainNav ul {
    float: left;
    margin: 50px 0 0 20px;
    display: block;
}

.mainNav li {
    float: left;
    margin: 0 10px;
    position: relative;
}

.mainNav a{
    color: #585951;
    text-transform: uppercase;
    font-size: 14px;
}


.userTools {
    display: block;
    margin-top: 0px;
    margin-bottom: 26px;
}

.selector_warpper{
    float: left;
    overflow: hidden;
    width: 36px;

}

.selector_warpper select {
    width: 32px;
    border: none;
    outline-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent url("https://lh4.ggpht.com/TamGcMq9hUL_FCKk_bT1kKGCLqmsEf73XzK4m9dDL4p1qaK4fLoDyJibhXfVpcJy3XfslgkF=w16") no-repeat right center;
    font-size: 12px;
}

.login {
    position: relative;
    color: #4EA6D2;
    display: block;
    margin-left: 20px;
    float: right;
    font-size: 12px;
    padding-top: 3px;
}

.search {
    position: relative;
    width: 18%;
    height: 2.0rem;
    /* margin-top: 8px; */
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 3px;
}

input.searchField {
    border: none;
    width: 85%;
    height: 100%;
    font-size: 12px;
    line-height: 12px;
    outline-style: none;
    padding-left: 3%;
    padding-top: 0px;
}

button.searchBtn {
    border: none;
    background: transparent;
    outline-style: none;
    cursor: pointer;
}

i.search_icon {
    background: url(../assets/searchBtn.png) no-repeat center;
    display: block;
    width: 16px;
    height: 16px;
    top: 6px;
    right: 8px;
    position: absolute;
}

/* silder */


.silderContent {
    position: absolute;
    height: 100%;
    width: 100%;
}

#slide_02,#slide_03,#slide_04 {
    display: none;
}

.highlights_list{
    position: absolute;
    height: 100%;
    width: 100%;
}

.highlight{
    background: url(../assets/slide-bg-complexity.jpg) no-repeat top center fixed ;
    height: 100%;
    width: 100%;
    padding-top: 50px;
}

.heightlight_title{
    font-size: 3rem;
    line-height: 3.5rem;
}

.heightlight_subtitle {
    margin-top: 15px;
    font-size: 1.4rem;
    line-height: 2rem;
}

.highlights .more_link {
    text-transform: uppercase;
    width: 180px;
}

.highlights_nav{
    top: 250px;
    z-index: 1
}

.highlight_link{
    background: #e5e5e5;
    color: #e5e5e5;
    float: left;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.highlight_link:hover{
    background: #3097cb;
    color: #3097cb;
}

.media_list{
    margin-top: 320px;
}

.media_item{
    float: left;
    width: 30%;
    border-radius: 7px;
    opacity: 0.85;
    box-shadow: 1px 1px 4px #a2a2a2;
    transition: opacity 0.5s;

}

.media_item + .media_item{
    margin-left: 5%;
}

.media_item:hover{
    opacity: 1;
}

.media_link{
    display: block;
    padding: 20px 15px;
    position: relative;
    height: 175px;
    position: relative;
}

.media_title{
    font-size: 2rem;
    line-height: 2.4rem;
}

.media_more_button{
    position: absolute;
    bottom: 5%;
    font-size: 1.4rem;
    font-weight: bold;
}

.media_more_button img{
    margin-right: 10px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.pink_tab{
    background: #ff3399;
}

.orange_tab{
    background: #ff6600;
}

.green_tab{
    background: #5abe28;
}



/* solution section */

.solutions_bg {
    padding: 50px;
    background: #BBDCD7;
}

/* events section */
.events_bg {
    padding: 50px;
    background: url(../assets/news-and-events-bg.jpg) 50% 50% no-repeat;
}

article.event {
    width: 33%;
    position: relative;
    display: inline-block;
}

.event_details {
    background: rgba(255, 255, 255, 0.51);
    border-radius: 8px;
    padding: 20px;
    margin: 15px 0;
}

/* testimonial section */






/* footer */

footer{
    background: url(../img/footerBg.png);
    background-color: #575756;
    position: relative;
    width: 100%;
    font-size: 1.3rem;

}

.links_list{
    float: left;
    width: 70%;
    padding: 30px 0 0;
}

.links_column{
    float: left;
    width: calc(33.333% - 5px * 2);
}

.links_column h4{
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 0 0 20px
}

.links{
    line-height: 2rem;
}

.links li a:hover{
    text-decoration: underline;
}

.subscribe_blog{
    float: right;
    width: 30%;
    padding: 0 20px;
    background: rgba(225, 225, 225, 0.15)
}

.subscribe_blog h4{
    text-align: center;
    font-size: 1.9rem;
    text-transform: uppercase;
    color: #4ea7d3;
    font-weight: bold;
    padding: 10px 0
}

.blog_posts{
    margin: 20px 0
}

.last_post p{
    font-size: 1.8rem;
    line-height: 2.3rem;
    width: 75%;
    float: right;
}

.last_post_date{
    float: left;
    display: block;
    text-align: center;
}

.day{
    display: block;
    font-size: 4rem;
    font-weight: bold;
}

.month{
    display: block;
    font-size: 2.7rem;
    padding: 1px 0px;
}

.subscribe{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.social_menu{
    margin: 70px 0 10px
}

.social_menu li{
    float: left;
    margin-right: 10px;
}

.subscribe form{
    background: #fff;
    position: relative;
}

.signup_field {
    border: none;
    outline-style: none;
    margin: 5px;
    width: 65%
}

.signup_btn {
    background: linear-gradient(to bottom, #30a1d9 0%,#1183bc 100%);
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    height: 100%;
    right: 0;
    border: 0;
    cursor: pointer;
}

.signup_btn:hover{
    background: linear-gradient(to bottom, #1183bc 0%,#30a1d9 100%);
}

.copyright{
    display: inline-block;
    opacity: 0.5;
    margin: 30px 0 10px;
}

.mobile_footer{
    display: none;
}
