@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
    font-size: 62.5%;
}


body {
    font-family: helvetica, sans-serif;
    background-color: #eee;
    position: relative
}

main {
    padding-top: 40px;
    position: relative;

}

/** clear fix **/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/** =General **/

.container {
    width: 960px;
    margin: 0 auto;
    position: relative;
    padding: 0 15px 0 15px;
}
a {
    text-decoration: none;
}
.simpleBtn{
    text-transform: uppercase;
    color: #585951;
}

.dark_text {
    color: #333;
}



/** =Top Bar **/

.topBar_bg{
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 3;
    height: 90px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.topBar_elements {
    margin-top: 10px;
}

a.logo {
    padding-top: 2px;
}

.userTools,.search {
    float: right;
}

.logo,.langSelector {
    float: left;
}

.mainNav ul {
    float: left;
    margin: 50px 0 0 20px;
    display: block;
}

.mainNav li {
    float: left;
    margin: 0 10px;
    position: relative;
}

.mainNav a{
    color: #585951;
    text-transform: uppercase;
    font-size: 14px;
}


.userTools {
    display: block;
    margin-top: 0px;
    margin-bottom: 26px;
}

form.langSelector select {
    border: none;
    outline-style: none;
}

.login {
    position: relative;
    color: #4EA6D2;
    display: block;
    margin-left: 20px;
    float: right;
    font-size: 12px;
    padding-top: 3px;
}

.search {
    position: relative;
    width: 18%;
    height: 2.0rem;
    /* margin-top: 8px; */
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 3px;
}

input.searchField {
    border: none;
    width: 85%;
    height: 100%;
    font-size: 12px;
    line-height: 12px;
    outline-style: none;
    padding-left: 3%;
    padding-top: 0px;
}

button.searchBtn {
    border: none;
    background: transparent;
    outline-style: none;
    cursor: pointer;
}

i.search_icon {
    background: url(../assets/searchBtn.png) no-repeat center;
    display: block;
    width: 16px;
    height: 16px;
    top: 6px;
    right: 8px;
    position: absolute;
}













/**** footer ****/

footer{
    background: url(../img/footerBg.png);
    background-color: #575756;
    position: relative;
    width: 100%;
    font-size: 1.3rem;

}

.links_list{
    float: left;
    width: 70%;
    padding: 30px 0 0;
}

.links_column{
    float: left;
    width: calc(33.333% - 5px * 2);
}

.links_column h4{
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 0 0 20px
}

.links{
    line-height: 2rem;
}

.links li a:hover{
    text-decoration: underline;
}

.subscribe_blog{
    float: right;
    width: 30%;
    padding: 0 20px;
    background: rgba(225, 225, 225, 0.15)
}

.subscribe_blog h4{
    text-align: center;
    font-size: 1.9rem;
    text-transform: uppercase;
    color: #4ea7d3;
    font-weight: bold;
    padding: 10px 0
}

.blog_posts{
    margin: 20px 0
}

.last_post p{
    font-size: 1.8rem;
    line-height: 2.3rem;
    width: 75%;
    float: right;
}

.last_post_date{
    float: left;
    display: block;
    text-align: center;
}

.day{
    display: block;
    font-size: 4rem;
    font-weight: bold;
}

.month{
    display: block;
    font-size: 2.7rem;
    padding: 1px 0px;
}

.subscribe{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.social_menu{
    margin: 70px 0 10px
}

.social_menu li{
    float: left;
    margin-right: 10px;
}

.subscribe form{
    background: #fff;
    position: relative;
}

.signup_field {
    border: none;
    outline-style: none;
    margin: 5px;
    width: 65%
}

.signup_btn {
    background: linear-gradient(to bottom, #30a1d9 0%,#1183bc 100%);
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    height: 100%;
    right: 0;
    border: 0;
    cursor: pointer;
}

.signup_btn:hover{
    background: linear-gradient(to bottom, #1183bc 0%,#30a1d9 100%);
}

.copyright{
    display: inline-block;
    opacity: 0.5;
    margin: 30px 0 10px;
}

.mobile_footer{
    display: none;
}
